<aside class="sidebar">
    <form action="https://www.okler.net/previews/porto/9.2.0/page-search-results.html" method="get">
        <div class="input-group mb-3 pb-1">
            <input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
            <button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
        </div>
    </form>
    <h5 class="font-weight-semi-bold pt-3">Categories</h5>
    <ul class="nav nav-list flex-column">
        <li class="nav-item"><a class="nav-link" href="#">Arts & Crafts</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Automotive</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Baby</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Books</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Eletronics</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Women's Fashion</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Men's Fashion</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Health & Household</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Home & Kitchen</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Military Accessories</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Movies & Television</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Sports & Outdoors</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Tools & Home Improvement</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Toys & Games</a></li>
    </ul>
    <h5 class="font-weight-semi-bold pt-5">Tags</h5>
    <app-tags></app-tags>
    <div class="row mb-5">
        <div class="col-sm-4 col-lg-12">
            <h5 class="font-weight-semi-bold pt-5">Recent Products</h5>
            <app-recent-products></app-recent-products>
        </div>
        <div class="col-sm-4 col-lg-12">
            <h5 class="font-weight-semi-bold pt-5">Last Viewed Products</h5>
            <app-last-viewed-products></app-last-viewed-products>
        </div>
        <div class="col-sm-4 col-lg-12">
            <h5 class="font-weight-semi-bold pt-5">Top Rated Products</h5>
            <app-top-rated-products></app-top-rated-products>
        </div>
    </div>
</aside>