<form method="post" action="#">
    <div class="table-responsive">
        <table class="shop_table cart">
            <thead>
                <tr class="text-color-dark">
                    <th class="product-thumbnail" width="15%">
                        &nbsp;
                    </th>
                    <th class="product-name text-uppercase" width="30%">
                        Product
                    </th>
                    <th class="product-price text-uppercase" width="15%">
                        Price
                    </th>
                    <th class="product-quantity text-uppercase" width="20%">
                        Quantity
                    </th>
                    <th class="product-subtotal text-uppercase text-end" width="20%">
                        Subtotal
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="cart_table_item" *ngFor="let item of cartItems">
                    <td class="product-thumbnail">
                        <div class="product-thumbnail-wrapper">
                            <a class="product-thumbnail-remove" title="Remove Product" (click)="removeProduct(item?.product_Id)">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Photo Camera">
                                <img width="90" height="90" alt="" class="img-fluid" [src]="item?.product_Image">
                            </a>
                        </div>
                    </td>
                    <td class="product-name">
                        <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">{{item?.product_Name}}</a>
                    </td>
                    <td class="product-price">
                        <span class="amount font-weight-medium text-color-grey">{{item?.product_Price|currency}}</span>
                    </td>
                    <td class="product-quantity">
                        <div class="quantity float-none m-0">
                            <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-" (click)="decreaseQuantity(item)">
                            <input type="text" class="input-text qty text" title="Qty" [value]="item?.product_Quantity" name="quantity" min="1" step="1">
                            <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+" (click)="increaseQuantity(item)">
                        </div>
                    </td>
                    <td class="product-subtotal text-end">
                        <span class="amount text-color-dark font-weight-bold text-4">{{(item?.product_Price * item?.product_Quantity)|currency}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>