<form method="post" action="#">
    <div class="table-responsive">
        <table class="shop_table cart">
            <thead>
                <tr class="text-color-dark">
                    <th class="product-thumbnail" width="15%">
                        &nbsp;
                    </th>
                    <th class="product-name text-uppercase" width="30%">
                        Product
                    </th>
                    <th class="product-price text-uppercase" width="15%">
                        Price
                    </th>
                    <th class="product-quantity text-uppercase" width="20%">
                        Quantity
                    </th>
                    <th class="product-subtotal text-uppercase text-end" width="20%">
                        Subtotal
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="cart_table_item">
                    <td class="product-thumbnail">
                        <div class="product-thumbnail-wrapper">
                            <a href="#" class="product-thumbnail-remove" title="Remove Product">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Photo Camera">
                                <img width="90" height="90" alt="" class="img-fluid" src="./../../../../assets/img/products/product-grey-1.jpg">
                            </a>
                        </div>
                    </td>
                    <td class="product-name">
                        <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">Photo Camera</a>
                    </td>
                    <td class="product-price">
                        <span class="amount font-weight-medium text-color-grey">$59</span>
                    </td>
                    <td class="product-quantity">
                        <div class="quantity float-none m-0">
                            <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
                        </div>
                    </td>
                    <td class="product-subtotal text-end">
                        <span class="amount text-color-dark font-weight-bold text-4">$59</span>
                    </td>
                </tr>

                <tr class="cart_table_item">
                    <td class="product-thumbnail">
                        <div class="product-thumbnail-wrapper">
                            <a href="#" class="product-thumbnail-remove" title="Remove Product">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Porto Headphone">
                                <img width="90" height="90" alt="" class="img-fluid" src="./../../../../assets/img/products/product-grey-7.jpg">
                            </a>
                        </div>
                    </td>
                    <td class="product-name">
                        <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">Porto Headphone</a>
                    </td>
                    <td class="product-price">
                        <span class="amount font-weight-medium text-color-grey">$99</span>
                    </td>
                    <td class="product-quantity">
                        <div class="quantity float-none m-0">
                            <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
                        </div>
                    </td>
                    <td class="product-subtotal text-end">
                        <span class="amount text-color-dark font-weight-bold text-4">$99</span>
                    </td>
                </tr>

                <tr class="cart_table_item">
                    <td class="product-thumbnail">
                        <div class="product-thumbnail-wrapper">
                            <a href="#" class="product-thumbnail-remove" title="Remove Product">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Golf Bag">
                                <img width="90" height="90" alt="" class="img-fluid" src="./../../../../assets/img/products/product-grey-2.jpg">
                            </a>
                        </div>
                    </td>
                    <td class="product-name">
                        <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">Golf Bag</a>
                    </td>
                    <td class="product-price">
                        <span class="amount font-weight-medium text-color-grey">$19</span>
                    </td>
                    <td class="product-quantity">
                        <div class="quantity float-none m-0">
                            <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
                        </div>
                    </td>
                    <td class="product-subtotal text-end">
                        <span class="amount text-color-dark font-weight-bold text-4">$19</span>
                    </td>
                </tr>

                <tr class="cart_table_item">
                    <td class="product-thumbnail">
                        <div class="product-thumbnail-wrapper">
                            <a href="#" class="product-thumbnail-remove" title="Remove Product">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Workout">
                                <img width="90" height="90" alt="" class="img-fluid" src="./../../../../assets/img/products/product-grey-3.jpg">
                            </a>
                        </div>
                    </td>
                    <td class="product-name">
                        <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">Workout</a>
                    </td>
                    <td class="product-price">
                        <span class="amount font-weight-medium text-color-grey">$30</span>
                    </td>
                    <td class="product-quantity">
                        <div class="quantity float-none m-0">
                            <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
                        </div>
                    </td>
                    <td class="product-subtotal text-end">
                        <span class="amount text-color-dark font-weight-bold text-4">$30</span>
                    </td>
                </tr>

                <tr class="cart_table_item">
                    <td class="product-thumbnail">
                        <div class="product-thumbnail-wrapper">
                            <a href="#" class="product-thumbnail-remove" title="Remove Product">
                                <i class="fas fa-times"></i>
                            </a>
                            <a href="shop-product-sidebar-right.html" class="product-thumbnail-image" title="Luxury Bag">
                                <img width="90" height="90" alt="" class="img-fluid" src="./../../../../assets/img/products/product-grey-4.jpg">
                            </a>
                        </div>
                    </td>
                    <td class="product-name">
                        <a href="shop-product-sidebar-right.html" class="font-weight-semi-bold text-color-dark text-color-hover-primary text-decoration-none">Luxury Bag</a>
                    </td>
                    <td class="product-price">
                        <span class="amount font-weight-medium text-color-grey">$79</span>
                    </td>
                    <td class="product-quantity">
                        <div class="quantity float-none m-0">
                            <input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
                        </div>
                    </td>
                    <td class="product-subtotal text-end">
                        <span class="amount text-color-dark font-weight-bold text-4">$79</span>
                    </td>
                </tr>

                <tr>
                    <td colspan="5">
                        <div class="row justify-content-between mx-0">
                            <div class="col-md-auto px-0 mb-3 mb-md-0">
                                <div class="d-flex align-items-center">
                                    <input type="text" class="form-control h-auto border-radius-0 line-height-1 py-3" name="couponCode" placeholder="Coupon Code" />
                                    <button type="submit" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 ws-nowrap btn-px-4 py-3 ms-2">Apply Coupon</button>
                                </div>
                            </div>
                            <div class="col-md-auto px-0">
                                <button type="submit" class="btn btn-light btn-modern text-color-dark bg-color-light-scale-2 text-color-hover-light bg-color-hover-primary text-uppercase text-3 font-weight-bold border-0 border-radius-0 btn-px-4 py-3">Update Cart</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>