
<h2>All Stores</h2>
<div class="row">
    <div class="col">
        <button class="btn btn-primary" routerLink="/admin/stores/create">New <i class="fas fa-plus-circle"></i></button>
    </div>
</div>
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Countery</th>
        <th scope="col">products</th>
        <th scope="col">delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let store of stores" (click)="StoreDetails(store.id)">
        <td>{{ store.name }}</td>
        <td>{{ store.description }}</td>
        <td>{{ store.street }}</td>
        <td>{{ store.city }}</td>
        <td>{{ store.country }}</td>
        <td>{{ store.products.length }}</td>
        <td>
            <i class="far fa-edit" routerLink="/admin/stores/edit/{{store.id}}"></i>
            <i class="fas fa-trash-alt" (click)="deleteStore(store.id)"></i>
        </td>
    </tr>
    </tbody>
</table>
</div>