<div class="row justify-content-center">
    <div class="col-lg-8">
        <ul class="breadcrumb breadcrumb-dividers-no-opacity font-weight-bold text-6 justify-content-center my-5">
            <li class="text-transform-none me-2">
                <a href="shop-cart.html" class="text-decoration-none text-color-dark text-color-hover-primary">Shopping Cart</a>
            </li>
            <li class="text-transform-none text-color-dark me-2">
                <a href="shop-checkout.html" class="text-decoration-none text-color-dark text-color-hover-primary">Checkout</a>
            </li>
            <li class="text-transform-none text-color-dark">
                <a href="shop-order-complete.html" class="text-decoration-none text-color-primary">Order Complete</a>
            </li>
        </ul>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-8">
        <app-success-msg></app-success-msg>
        <app-order-data></app-order-data>
        <app-order-bill></app-order-bill>
        <app-billing-address></app-billing-address>
    </div>
</div>