<div class="header-nav-bar header-nav-bar-top-border bg-light">
    <div class="header-container container">
        <div class="header-row">
            <div class="header-column">
                <div class="header-row justify-content-end">
                    <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border justify-content-start"
                        data-sticky-header-style="{'minResolution': 991}"
                        data-sticky-header-style-active="{'margin-left': '105px'}"
                        data-sticky-header-style-deactive="{'margin-left': '0'}">
                        <div
                            class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-3 header-nav-main-sub-effect-1 w-100">
                            <nav class="collapse w-100">
                                <ul class="nav nav-pills w-100" id="mainNav">
                                    <li class="dropdown dropdown-mega">
                                        <a class="dropdown-item dropdown-toggle" href="elements.html">
                                            Brands
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span class="dropdown-mega-sub-title">Top Brands</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li *ngFor="let brand of brands">
                                                                    <a class="dropdown-item"
                                                                        href="elements-accordions.html">
                                                                        {{brand.name}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-mega">
                                        <a class="dropdown-item dropdown-toggle" href="#">
                                            Stores
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span class="dropdown-mega-sub-title">Top Stores</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li *ngFor="let store of stores">
                                                                    <a class="dropdown-item"
                                                                        href="elements-accordions.html">
                                                                        {{store.name}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="#">
                                            Sellers
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" href="#">Contact Us</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="contact-us-advanced.html">Contact
                                                            Us - Advanced</a></li>
                                                    <li><a class="dropdown-item" href="contact-us.html">Contact Us -
                                                            Basic</a></li>
                                                    <li><a class="dropdown-item"
                                                            href="contact-us-recaptcha.html">Contact Us - Recaptcha</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" href="#">About Us</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="about-us-advanced.html">About Us
                                                            - Advanced</a></li>
                                                    <li><a class="dropdown-item" href="about-us.html">About Us -
                                                            Basic</a></li>
                                                    <li><a class="dropdown-item" href="about-me.html">About Me</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" href="#">Layouts</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="page-full-width.html">Full
                                                            Width</a></li>
                                                    <li><a class="dropdown-item" href="page-left-sidebar.html">Left
                                                            Sidebar</a></li>
                                                    <li><a class="dropdown-item" href="page-right-sidebar.html">Right
                                                            Sidebar</a></li>
                                                    <li><a class="dropdown-item"
                                                            href="page-left-and-right-sidebars.html">Left and Right
                                                            Sidebars</a></li>
                                                    <li><a class="dropdown-item" href="page-sticky-sidebar.html">Sticky
                                                            Sidebar</a></li>
                                                    <li><a class="dropdown-item"
                                                            href="page-secondary-navbar.html">Secondary Navbar</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" href="#">Extra</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="page-404.html">404 Error</a></li>
                                                    <li><a class="dropdown-item" href="page-500.html">500 Error</a></li>
                                                    <li><a class="dropdown-item" href="page-coming-soon.html">Coming
                                                            Soon</a></li>
                                                    <li><a class="dropdown-item"
                                                            href="page-maintenance-mode.html">Maintenance Mode</a></li>
                                                    <li><a class="dropdown-item" href="page-search-results.html">Search
                                                            Results</a></li>
                                                    <li><a class="dropdown-item" href="sitemap.html">Sitemap</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" href="#">Team</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="page-team-advanced.html">Team -
                                                            Advanced</a></li>
                                                    <li><a class="dropdown-item" href="page-team.html">Team - Basic</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" href="#">Services</a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="page-services.html">Services -
                                                            Version 1</a></li>
                                                    <li><a class="dropdown-item" href="page-services-2.html">Services -
                                                            Version 2</a></li>
                                                    <li><a class="dropdown-item" href="page-services-3.html">Services -
                                                            Version 3</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="dropdown-item" href="page-custom-header.html">Custom
                                                    Header</a></li>
                                            <li><a class="dropdown-item" href="page-careers.html">Careers</a></li>
                                            <li><a class="dropdown-item" href="page-faq.html">FAQ</a></li>
                                            <li><a class="dropdown-item" href="page-login.html">Login / Register</a>
                                            </li>
                                            <li><a class="dropdown-item" href="page-user-profile.html">User Profile</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-mega">
                                        <a class="dropdown-item dropdown-toggle" href="#">
                                            promotions
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="dropdown-mega-content">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span class="dropdown-mega-sub-title">Top Promotions</span>
                                                            <ul class="dropdown-mega-sub-nav">
                                                                <li *ngFor="let promo of promotions">
                                                                    <a class="dropdown-item"
                                                                        href="elements-accordions.html">
                                                                        {{promo.name}}
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown ms-lg-auto">
                                        <a href="#" class="dropdown-item">
                                            Outlet
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse"
                            data-bs-target=".header-nav-main nav">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>