<div class="header-top header-top-small-minheight header-top-simple-border-bottom">

    <div class="container">

        <div class="header-row justify-content-between">

            <div class="header-column col-auto px-0">
                <div class="header-row">
                    <p class="font-weight-semibold text-1 mb-0 d-none d-sm-block d-md-none">FREE SHIPPING ORDERS $99+</p>
                    <p class="font-weight-semibold text-1 mb-0 d-none d-md-block">FREE RETURNS, STANDARD SHIPPING ORDERS $99+</p>
                </div>
            </div>

            <div class="header-column justify-content-end col-auto px-0">

                <div class="header-row">

                    <nav class="header-nav-top">
                        <ul class="nav nav-pills font-weight-semibold text-2">

                            <li class="nav-item dropdown nav-item-left-border d-lg-none">
                                <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownMobileMore" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMobileMore">
                                    <a class="dropdown-item" href="#">About</a>
                                    <a class="dropdown-item" href="#">Our Stores</a>
                                    <a class="dropdown-item" href="#">Blog</a>
                                    <a class="dropdown-item" href="#">Contact</a>
                                    <a class="dropdown-item" href="#">Help & FAQs</a>
                                    <a class="dropdown-item" href="#">Track Order</a>
                                </div>
                            </li>

                            <li class="nav-item d-none d-lg-inline-block">
                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">About</a>
                            </li>

                            <li class="nav-item d-none d-lg-inline-block">
                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Our Stores</a>
                            </li>

                            <li class="nav-item d-none d-lg-inline-block">
                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Blog</a>
                            </li>

                            <li class="nav-item d-none d-lg-inline-block">
                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Contact</a>
                            </li>

                            <li class="nav-item d-none d-xl-inline-block">
                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Help & FAQs</a>
                            </li>

                            <li class="nav-item d-none d-xl-inline-block">
                                <a href="#" class="text-decoration-none text-color-default text-color-hover-primary">Track Order</a>
                            </li>

                            <li class="nav-item dropdown nav-item-left-border">
                                <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownCurrency" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    USD
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-arrow-centered min-width-0" aria-labelledby="dropdownCurrency">
                                    <a class="dropdown-item" href="#">EUR</a>
                                    <a class="dropdown-item" href="#">USD</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown nav-item-right-border">
                                <a class="nav-link text-color-default text-color-hover-primary" href="#" role="button" id="dropdownLanguage" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    ENG
                                    <i class="fas fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-arrow-centered min-width-0" aria-labelledby="dropdownLanguage">
                                    <a class="dropdown-item" href="#">ESP</a>
                                    <a class="dropdown-item" href="#">FRA</a>
                                    <a class="dropdown-item" href="#">ENG</a>
                                </div>
                            </li>

                        </ul>

                        <ul class="header-social-icons social-icons social-icons-clean social-icons-icon-gray">

                            <li class="social-icons-facebook">
                                <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>

                            <li class="social-icons-twitter">
                                <a href="https://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
                            </li>

                            <li class="social-icons-linkedin">
                                <a href="https://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
                            </li>

                        </ul>

                    </nav>

                </div>

            </div>

        </div>

    </div>

</div>