<div class="row">
    <div class="col">
        
    </div>
</div>
<div class="row">
    <div class="col-md-5 mb-5 mb-md-0">
        <app-slider></app-slider>
    </div>

    <div class="col-md-7">
        <app-product-details></app-product-details>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <app-tabs></app-tabs>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="font-weight-semibold text-4 mb-3">RELATED PRODUCTS</h4>
        <hr class="mt-0">
        <div class="products row">
            <div class="col">
                <div class="owl-carousel owl-theme nav-style-1 nav-outside nav-outside nav-dark mb-0" data-plugin-options="{'loop': false, 'autoplay': false, 'items': 4, 'nav': true, 'dots': false, 'margin': 20, 'autoplayHoverPause': true, 'autoHeight': true, 'stagePadding': '75', 'navVerticalOffset': '50px'}">
                    <app-related-products></app-related-products>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-5">

<div class="products row">

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">FEATURED PRODUCTS</h4>
        <app-featured-products></app-featured-products>
    </div>

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">BEST SELLING PRODUCTS</h4>
        <app-best-selling-products></app-best-selling-products>
    </div>

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">LATEST PRODUCTS</h4>
        <app-last-viewed-products></app-last-viewed-products>
    </div>

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">TOP RATED PRODUCTS</h4>
        <app-top-rated-products></app-top-rated-products>
    </div>
</div>
