<div class="row">
    <div class="col">
        
    </div>
</div>
<div class="row">
    <div class="col-md-5 mb-5 mb-md-0">
        <app-slider></app-slider>
    </div>

    <div class="col-md-7">
        <app-product-details [product]="product"></app-product-details>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <app-tabs [product]="product"></app-tabs>
    </div>
</div>

<hr class="my-5">

<div class="products row">

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">FEATURED PRODUCTS</h4>
        <app-featured-products></app-featured-products>
    </div>

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">BEST SELLING PRODUCTS</h4>
        <app-best-selling-products></app-best-selling-products>
    </div>

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">LATEST PRODUCTS</h4>
        <app-last-viewed-products></app-last-viewed-products>
    </div>

    <div class="col-md-6 col-lg-3">
        <h4 class="font-weight-semibold text-4 mb-3">TOP RATED PRODUCTS</h4>
        <app-top-rated-products></app-top-rated-products>
    </div>
</div>
