
<div class="row">
    <div class="col">
        <ul class="breadcrumb font-weight-bold text-6 justify-content-center my-5">
            <li class="text-transform-none me-2">
                <a href="shop-cart.html" class="text-decoration-none text-color-primary">Shopping Cart</a>
            </li>
            <li class="text-transform-none text-color-grey-lighten me-2">
                <a href="shop-checkout.html" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Checkout</a>
            </li>
            <li class="text-transform-none text-color-grey-lighten">
                <a href="shop-order-complete.html" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Order Complete</a>
            </li>
        </ul>
    </div>
</div>

<div class="row pb-4 mb-5">
    <div class="col-lg-8 mb-5 mb-lg-0">
        <app-cart-products></app-cart-products>
    </div>
    <div class="col-lg-4 position-relative">
        <app-totals></app-totals>
    </div>
</div>
