<!-- <h2 class="text-color-dark font-weight-bold text-5-5 mb-3">Billing Details</h2>
<div class="row">
    <div class="form-group col-md-6">
        <label class="form-label">First Name <span class="text-color-danger">*</span></label>
        <input type="text" class="form-control h-auto py-2" name="firstName" value="" required />
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Last Name <span class="text-color-danger">*</span></label>
        <input type="text" class="form-control h-auto py-2" name="lastName" value="" required />
    </div>
</div>

<div class="row">
    <div class="form-group col">
        <label class="form-label">Full Name <span class="text-color-danger">*</span></label>
        <input type="text" class="form-control h-auto py-2" name="fullName" value="" />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">Country/Region <span class="text-color-danger">*</span></label>
        <div class="custom-select-1">
            <select class="form-select form-control h-auto py-2" name="country" required>
                <option value="" selected></option>
                <option value="usa">United States</option>
                <option value="spa">Spain</option>
                <option value="fra">France</option>
                <option value="uk">United Kingdon</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">Town/City <span class="text-color-danger">*</span></label>
        <input type="text" class="form-control h-auto py-2" name="city" value="" required />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">Street Address <span class="text-color-danger">*</span></label>
        <input type="text" class="form-control h-auto py-2" name="address1" value="" placeholder="House number and street name" required />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <input type="text" class="form-control h-auto py-2" name="address2" value="" placeholder="Apartment, suite, unit, etc..." required />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">State <span class="text-color-danger">*</span></label>
        <div class="custom-select-1">
            <select class="form-select form-control h-auto py-2" name="state" required>
                <option value="" selected></option>
                <option value="ny">Nova York</option>
                <option value="ca">California</option>
                <option value="tx">Texas</option>
                <option value="">Florida</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">ZIP <span class="text-color-danger">*</span></label>
        <input type="text" class="form-control h-auto py-2" name="zip" value="" required />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">Phone <span class="text-color-danger">*</span></label>
        <input type="number" class="form-control h-auto py-2" name="phone" value="" required />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">Email Address <span class="text-color-danger">*</span></label>
        <input type="email" class="form-control h-auto py-2" name="email" value="" required />
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <div class="custom-checkbox-1">
            <input id="createAccount" type="checkbox" name="createAccount" value="1" />
            <label for="createAccount">Create an account ?</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col">
        <div class="custom-checkbox-1" data-bs-toggle="collapse" data-bs-target=".shipping-field-wrapper">
            <input id="shipAddress" type="checkbox" name="shipAddress" value="1" />
            <label for="shipAddress">Shop to a different address ?</label>
        </div>
    </div>
</div>
 Ship to a differente address fields 
<div class="shipping-field-wrapper collapse">
    <div class="row">
        <div class="form-group col-md-6">
            <label class="form-label">First Name <span class="text-color-danger">*</span></label>
            <input type="text" class="form-control h-auto py-2" name="shippingFirstName" value="" required />
        </div>
        <div class="form-group col-md-6">
            <label class="form-label">Last Name <span class="text-color-danger">*</span></label>
            <input type="text" class="form-control h-auto py-2" name="shippingLastName" value="" required />
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">Company Name</label>
            <input type="text" class="form-control h-auto py-2" name="shippingCompanyName" value="" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">Country/Region <span class="text-color-danger">*</span></label>
            <div class="custom-select-1">
                <select class="form-select form-control h-auto py-2" name="shippingCountry" required>
                    <option value="" selected></option>
                    <option value="usa">United States</option>
                    <option value="spa">Spain</option>
                    <option value="fra">France</option>
                    <option value="uk">United Kingdon</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">Street Address <span class="text-color-danger">*</span></label>
            <input type="text" class="form-control h-auto py-2" name="shippingAddress1" value="" placeholder="House number and street name" required />
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <input type="text" class="form-control h-auto py-2" name="shippingAddress2" value="" placeholder="Apartment, suite, unit, etc..." required/>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">Town/City <span class="text-color-danger">*</span></label>
            <input type="text" class="form-control h-auto py-2" name="shippingCity" value="" required />
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">State <span class="text-color-danger">*</span></label>
            <div class="custom-select-1">
                <select class="form-select form-control h-auto py-2" name="shippingState" required>
                    <option value="" selected></option>
                    <option value="ny">Nova York</option>
                    <option value="ca">California</option>
                    <option value="tx">Texas</option>
                    <option value="">Florida</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">ZIP <span class="text-color-danger">*</span></label>
            <input type="text" class="form-control h-auto py-2" name="shippingZip" value="" required />
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <label class="form-label">Phone <span class="text-color-danger">*</span></label>
            <input type="number" class="form-control h-auto py-2" name="shippingPhone" value="" required />
        </div>
    </div>
    <!-- End of Ship to a differente address fields 
</div>
<div class="row">
    <div class="form-group col">
        <label class="form-label">Order Notes</label>
        <textarea class="form-control h-auto py-2" name="orderNotes" rows="5" placeholder="Notes about you orderm e.g. special notes for delivery"></textarea>
    </div>
</div>

 -->
