<div class="d-flex flex-column flex-md-row justify-content-between py-3 px-4 my-4">
    <div class="text-center">
        <span>
            Order Number <br>
            <strong class="text-color-dark">31891</strong>
        </span>
    </div>
    <div class="text-center mt-4 mt-md-0">
        <span>
            Date <br>
            <strong class="text-color-dark">June 17, 2020</strong>
        </span>
    </div>
    <div class="text-center mt-4 mt-md-0">
        <span>
            Email <br>
            <strong class="text-color-dark"><a href="https://www.okler.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="38595a5b78595a5b165b5755">[email&#160;protected]</a></strong>
        </span>
    </div>
    <div class="text-center mt-4 mt-md-0">
        <span>
            Total <br>
            <strong class="text-color-dark">$30</strong>
        </span>
    </div>
    <div class="text-center mt-4 mt-md-0">
        <span>
            Payment Method <br>
            <strong class="text-color-dark">Cash on Delivery</strong>
        </span>
    </div>
</div>