<div class="product row row-gutter-sm align-items-center mb-4">
    <div class="col-5 col-lg-5">
        <div class="product-thumb-info border-0">
            <a href="shop-product-sidebar-left.html">
                <div class="product-thumb-info-image">
                    <img alt="" class="img-fluid" src="./../../../assets/img/products/product-grey-1.jpg">
                </div>
            </a>
        </div>
    </div>
    <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
        <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">electronics</a>
        <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Photo Camera</a></h3>
        <div title="Rated 5 out of 5">
            <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
        </div>
        <p class="price text-4 mb-0">
            <span class="sale text-color-dark font-weight-semi-bold">$69,00</span>
            <span class="amount">$59,00</span>
        </p>
    </div>
</div>
<div class="product row row-gutter-sm align-items-center mb-4">
    <div class="col-5 col-lg-5">
        <div class="product-thumb-info border-0">
            <a href="shop-product-sidebar-left.html">
                <div class="product-thumb-info-image product-thumb-info-image-effect">
                    <img alt="" class="img-fluid" src="./../../../assets/img/products/product-grey-7.jpg">
                        <img alt="" class="img-fluid" src="./../../../assets/img/products/product-grey-7-2.jpg">
                </div>
            </a>
        </div>
    </div>
    <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
        <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">accessories</a>
        <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Porto Headphone</a></h3>
        <div title="Rated 5 out of 5">
            <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
        </div>
        <p class="price text-4 mb-0">
            <span class="sale text-color-dark font-weight-semi-bold">$199,00</span>
            <span class="amount">$99,00</span>
        </p>
    </div>
</div>
<div class="product row row-gutter-sm align-items-center mb-4">
    <div class="col-5 col-lg-5">
        <div class="product-thumb-info border-0">
            <a href="shop-product-sidebar-left.html">
                <div class="product-thumb-info-image">
                    <img alt="" class="img-fluid" src="./../../../assets/img/products/product-grey-2.jpg">
                </div>
            </a>
        </div>
    </div>
    <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
        <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">sports</a>
        <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Golf Bag</a></h3>
        <div title="Rated 5 out of 5">
            <input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
        </div>
        <p class="price text-4 mb-0">
            <span class="sale text-color-dark font-weight-semi-bold">$29,00</span>
            <span class="amount">$19,00</span>
        </p>
    </div>
</div>
