
<div class="row">
        <div class="col">
            <ul class="breadcrumb breadcrumb-dividers-no-opacity font-weight-bold text-6 justify-content-center my-5">
                <li class="text-transform-none me-2">
                    <a href="shop-cart.html" class="text-decoration-none text-color-dark text-color-hover-primary">Shopping Cart</a>
                </li>
                <li class="text-transform-none text-color-dark me-2">
                    <a href="shop-checkout.html" class="text-decoration-none text-color-primary">Checkout</a>
                </li>
                <li class="text-transform-none text-color-grey-lighten">
                    <a href="shop-order-complete.html" class="text-decoration-none text-color-grey-lighten text-color-hover-primary">Order Complete</a>
                </li>
            </ul>
        </div>
</div>

<form role="form" class="needs-validation" method="post" action="#">
    <div class="row">
        <div class="col-lg-7 mb-4 mb-lg-0">
            <app-billing-details></app-billing-details>
        </div>
        <div class="col-lg-5 position-relative">
            <app-order></app-order>
        </div>
    </div>
</form>

